[submodule "relayer-demo-frontend"]
	path = relayer-demo-frontend
	url = https://github.com/lajosdeme/relayer-demo-frontend
[submodule "relayer-sdk"]
	path = relayer-sdk
	url = https://github.com/lajosdeme/relayer-sdk
[submodule "relayer"]
	path = relayer
	url = https://github.com/lajosdeme/relayer
[submodule "relayer-subscription"]
	path = relayer-subscription
	url = https://github.com/lajosdeme/relayer-subscription
[submodule "relayer-demo-script"]
	path = relayer-demo-script
	url = https://github.com/lajosdeme/relayer-demo-script
